# AI
.claude/
.cursor/
.qwen/
.codex/
.idea/
.gemini/
.copilot/
.vscode/

# App
*.env
.data/
docs/medocs/
validate.py

# Python
__pycache__/
.pytest_cache/
.venv/
dist/
build/
*.egg-info/
*.log
.aider*
